
@{
    ViewBag.Title = "Index";
}

<h2>Information:</h2>
<!--<table>
    <tr>
        <th>Name</th>
        <th>Non-profit Organisation</th>
        <th>Donate or Volunteer</th>
    </tr>
    
</table>-->

<table>
    <tr>
        <th>Name</th>
        <th>Non-profit Organisation</th>
        <th>Donate or Volunteer</th>
    </tr>
    <tr>
        <td>Ciara Massyn</td>
        <td>Cleanup C</td>
        <td>Volunteer</td>
    </tr>
</table>

